/* ThreadCard.css */
@import url('https://fonts.googleapis.com/css2');

body {
    background: #FAFAFA;
}

.thread-card {
    width: 95%;
    border: 2px solid #ccc;
    /* padding: 16px; */
    margin: 16px auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;  /* Adjust the space between elements */
    overflow: auto;
}

.thread-card:hover {
    border: 10px solid #7fd8be; 
}

.thread-header, .thread-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color:  #000080;
    /* padding-top: 15px;
    padding-bottom: 10px; */
    color: white;
    border-color: #000080;
}

.thread-title {
    font-size: 1.2em;
    font-weight: bold;
}

.thread-tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 0.9em;
    color: #777;
};

.thread-content {
    flex-grow: 1;
    font-size: 1em;
    
}

.thread-body {
    background-color: white;
    padding: 10px;
    background-size: cover;
}

.thread-foot {
    background-color: white;
    background-size: cover;
    padding: 10px;
    padding-top: 0px;
}


.thread-time {
    font-size: 0.9em;
    color: #888;
}

mark {
    padding: 8px;
    border-radius: 8px;
    background-color:#7fd8be;
    font-family: Space Grotesk;
    font-weight: bold; 
}

.no_comments{
    color: gray;
    margin:2px;
    font-weight: 400;
}