.information-card{
    border: 1px solid #ccc;
    padding: '16px';
    margin: '16px';
    width: 800px;
    height: 200px;
}

.card-container{
    display: grid;
    grid-gap: 20px;
    border-radius: 10px;
}

.card-list-left{
    justify-self: left;
    align-items: left;
}

.card-list-right{
    justify-self: right;
    align-items: end;
    transition: left 0.3s ease-in-out;
}