.information-card{
    padding: '16px';
    margin: '16px';
    width: 100%;
    height: 100%;
}

.card-container{
    display: grid;
    grid-gap: 20px;
    width: 100%;
}

.card-list-left{
    justify-self: left;
    align-items: left;
    padding-left: 3%;

}

.card-list-right{
    justify-self: right;
    align-items: end;
    padding-right: 3%;
    transition: left 0.3s ease-in-out;
}