.loginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: inherit;
    height: 100vh;
}

    .loginPageTitle{
        font-size: 2rem;
        text-align: center;
        padding-bottom: 40px;
    }

    .loginForm{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;
        margin: 20px;
        align-items: stretch;
    }

    Form {
        border-radius: 20px;
    }
