.loginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: inherit;
    height: 100vh;
}

    .loginPageTitle{
        font-size: 2rem;
        text-align: center;
        padding-bottom: 40px;
        font-family: "Verdana";
        font-weight: 800;
    }

    .loginForm{
        align-self: center;
        margin: 20px;
        align-items: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    input {
        border-radius: 12px;
        height: 30px;
        min-width: 250px;
        padding-left: 20px;
        margin: 5px;
    }

    input.form-control {
        background-color: white;
    }