body {
    background-color: #FAFAFA;
}

.profile-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: left;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.icon {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-right: 20px;
    border: 2px solid;
}

.name {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 300;
    margin: 0;
}

.email {
    font-size: 18px;
    margin: 0;
    color: grey;
}

.lists-container {
    display: flex;
    justify-content: space-between;
}

.list {
    width: 30%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 15px;
}

.list li {
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.default-button {
    width: 100px;
    height: 40px;
    margin: 10px;
    background-color: #0074DD;
    color: white; 
    border-radius: 12px;
    border: 2px solid;
    font-size: 20px; 
}

button:hover {
    background-color: lightblue;
    color: black; 
}

.logout-button{
    width: 20%;
    align-self: center;
    position: fixed;
    height: 50px;
    bottom: 20px;
    border-radius: 12px;
    font-size: 20px;
    font-family: "Atkinson Hyperlegible";
    background-color: #0074DD;
    color: white;
}

